<h1>Home</h1>
<body>List of users:
	<ul class="users">
		<% User.all.each do |u| %>
			<b><%= u.email %></b></br>
			Domain's list:</br>
			<% if u.domains.count != nil %>
				<% u.domains.all.each do |d| %>
					&nbsp;&nbsp;&nbsp;<%= d.domain %></br>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</body>