<h1>Available domains' list</h1>
<body>
	<%= current_user.email %></br>
	Domains' list:</br>
	<% current_user.domains.all.each do |domain| %>
		&nbsp;&nbsp;&nbsp;<%= domain.domain %></br>
	<% end %>
</body>