<footer class="footer">
	<% if user_signed_in? %>
		Logged in as <%= current_user.email %>.
		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
		<li><%= link_to "Edit profile", edit_user_registration_path %></li>
		<li><%= link_to "Forgot available domains?", launchpad_index_path %></li>
	<% else %>
		<li><%= link_to "Sign up", new_user_registration_path %></li>
		<li><%= link_to "Sign in", new_user_session_path %></li>
	<% end %>
</footer>