<!DOCTYPE html>
<html>
<head>
  <title>AuthorizationApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="user_nav">
			<% flash.each do |name, msg| %>
			        <%= content_tag :div, msg, id: "flash_#{name}" %>
			<% end %>
			
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
